<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- 规范所有异常放置在当前配置文件内 -->
	<!-- 全局异常处理器-->
	<bean class="com.cn.manager.web.exception.ManagerGlobalExceptionResolver"></bean>
</beans>